.dnd-library-wrapper .editor-item .meta.type-document {
  background-image: url('icons/document.png');
}
.scald-menu .add-buttons .add-document {
  background: url('icons/document-large-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-document:hover {
  background-image: url('icons/document-large-color.png');
}

